# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
weights/

# IDE
.vscode/

# Dataset folders
data/
*.zip
*_Image/
*_image/
*_images/

# Model weights
*.pth
*.pt
*.ckpt

# OS files
.DS_Store
Thumbs.db

# Temporary files
tempCodeRunnerFile.py